---
title: "Anasayfa"
layout: default
pagination:
    enabled: true
description: "Dkitap.com"
---


<div class="container">
    
{% if page.url == "/" %}
    

<!-- slider -->
{% include slider.html %}



<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Mağazalarımız</h2>
                
        <div class="container mt-5">
            <div class="container d-flex justify-content-center">
                <div class="row justify-content-center">

                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                        <a href="https://www.trendyol.com/magaza/dkitap-m-532723" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Trendyol_logo.svg" alt="Trendyol Mağaza" class="img-fluid w-100">
                        </a>
                    </div>

                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                        <a href="https://www.hepsiburada.com/magaza/dkitap" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/2/20/Hepsiburada_logo_official.svg" alt="Hepsiburada Mağaza" class="img-fluid w-100">
                        </a>
                    </div>

                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                        <a href="https://www.amazon.com/" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/6/62/Amazon.com-Logo.svg" alt="Amazon Mağaza" class="img-fluid w-100">
                        </a>
                    </div>

                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                        <a href="https://www.ciceksepeti.com/" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/tr/d/d4/%C3%87i%C3%A7eksepeti_logo.png" alt="ÇiçekSepeti Mağaza" class="img-fluid w-100">
                        </a>
                    </div>

                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                        <a href="https://www.epttavm.com/" target="_blank">
                            <img src="https://front-pttavm.mncdn.com/_nuxt/img/pttavm-logo.72e4a21.svg" alt="ePttAVM Mağaza" class="img-fluid w-100">
                        </a>
                    </div>

                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                        <a href="https://www.n11.com/" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/N11_logo.svg" alt="n11 Mağaza" class="img-fluid w-100">
                        </a>
                    </div>

                </div>

            </div>
        </div>
                </div>
            </div>
        </div>


        {% endif %} <!--endif page url is / -->


