<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/">Anasayfa</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/hakkimizda">Hakkımızda</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/kurumsal-logolar">Kurumsal Logolar</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/cevap-anahtarlari">Cevap Anahtarları</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/lgs-puan-hesaplama">LGS Puan Hesaplama</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/iletisim">İletişim</a>
</li>